# Pin click since newer versions are not compatible with black==24.3.0
click==7.1.2
black==24.3.0
isort==4.3.21
mypy==0.991
pylint==2.12.2
pytest==6.2.4
pytest-xdist==2.5.0
types-regex==2023.3.23.1
types-tqdm==4.65.0.1
